flows/nabla-capital-flow.json
{
  "name": "Nabla Capital Hedge Flow",
  "nodes": [
    {
      "parameters": {
        "path": "webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "chainType": "={{$json[\"body\"][\"chainType\"]}}",
        "chainId": "={{$json[\"body\"][\"chainId\"]}}",
        "protocol": "={{$json[\"body\"][\"protocol\"]}}",
        "poolAddress": "={{$json[\"body\"][\"poolAddress\"]}}",
        "wallet": "={{$json[\"body\"][\"wallet\"]}}"
      },
      "name": "GenericLPDelta",
      "type": "n8n-nodes-nabla.genericLPDelta",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{Math.abs($json[\"delta\"])}}",
              "operation": "larger",
              "value2": "={{$node[\"HedgeExecutor\"].parameter[\"deadband\"]}}"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "delta": "={{$node[\"GenericLPDelta\"].json[\"delta\"]}}",
        "symbol": "={{$json[\"body\"][\"symbol\"]}}",
        "deadband": 0.004
      },
      "name": "HedgeExecutor",
      "type": "n8n-nodes-nabla.hedgeExecutor",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "credentials": {
        "hyperliquidApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Hyperliquid API"
        }
      }
    },
    {
      "parameters": {
        "auditPayload": "={{$json}}"
      },
      "name": "AuditLogger",
      "type": "n8n-nodes-nabla.auditLogger",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Postgres DB"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GenericLPDelta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenericLPDelta": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "HedgeExecutor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AuditLogger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HedgeExecutor": {
      "main": [
        [
          {
            "node": "AuditLogger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}